<section class="fullWidth" id="customMapEdit">
  <style type="text/css">
  .folder_survey_selector, .question_selector, .form_selector{
    margin-bottom: 5px;
    width: 99%;
    float: left;
  }
  #survey_hierarchy{
    width: 100%;
    float: left
  }
  #pointDetails{
    /* -webkit-box-sizing: border-box; Safari/Chrome, other WebKit */
    /* -moz-box-sizing: border-box;    Firefox, other Gecko */
    /* box-sizing: border-box;         Opera/IE 8+ */
  }
  .style_selector{
    width: 100%;
    float: left
  }
  .map_details{
    float: left;
    margin: 2px;
    width: 95%;
  }

  /* colorpicker styles */
  .picker {
      background-color: #222222;
      border-radius: 5px 5px 5px 5px;
      box-shadow: 2px 2px 2px #444444;
      color: #FFFFFF;
      font-size: 12px;
      position: absolute;
      width: 460px;
  }
  .picker-canvas {
      cursor: crosshair;
      float: left;
      margin: 10px;
      border: 0;
  }
  .picker-controls {
      float: right;
      margin: 10px;
  }
  .picker-controls > div {
      border: 1px solid #2F2F2F;
      margin-bottom: 5px;
      overflow: hidden;
      padding: 5px;
  }
  .picker-controls label {
      float: left;
  }
  .picker-controls > div input {
      background-color: #121212;
      border: 1px solid #2F2F2F;
      color: #DDDDDD;
      float: right;
      font-size: 10px;
      height: 14px;
      margin-left: 6px;
      text-align: center;
      text-transform: uppercase;
      width: 75px;
  }
  .picker-preview {
      background: url("images/colour-picker-select.png") repeat scroll center center transparent;
      border-radius: 3px;
      box-shadow: 2px 2px 2px #444444;
      cursor: pointer;
      height: 30px;
      width: 30px;
  }
  /*End of colour picker styles*/
  </style>
  <div id="dropdown-holder">
    <div class="drawHandle backToCustomMaps" style="float: right; position: static !important">&lsaquo; {{t _go_back}}</div>
    <a id="saveCustomMap" class="standardBtn" style="float: right;">{{t _save}}</a>
  </div>
  <div id="mapDetails" style="margin: 2px; width:100%; float: left">
    <input type="text" id="mapTitle" placeholder="{{t _map_title}}" class="map_details">
    <input type="text" id="mapDescription" placeholder="{{t _map_description}}" class="map_details">
  </div>
  <div id="flowMap"></div>
  <div id="pointDetails">
    <div id="survey_hierarchy"></div>
  </div>
</section>
<script type="text/javascript">
(function(){

  var dropDown = document.querySelector('#dropdown-holder');
  var header = document.querySelector('header');
  var footer = document.querySelector('footer');

  function resizeMap() {

    if (!document.querySelector('#flowMap')) {
      // If we can't find the map element, assume we have changed tabs and remove listener
      window.removeEventListener('resize', resizeMap);
      return;
    }

    var totalHeight = Math.max(document.documentElement.clientHeight, window.innerHeight || 0);
    var newHeight = totalHeight;

    newHeight -= dropDown.offsetHeight;
    newHeight -= header.offsetHeight;
    newHeight -= footer.offsetHeight;
    newHeight = newHeight * 0.95;

    document.querySelector('#flowMap').style.height = newHeight + 'px';
    document.querySelector('#pointDetails').style.height = newHeight + 'px';
  }

  window.addEventListener('resize', resizeMap);
  resizeMap();
})()
</script>
