<section class="fullWidth" id="customMap">
  <div style="margin: 2px; width:100%; float: left">
    <div style="width: 70%; float: left" id="customMapDetails"></div>
    <div style="width: 30%; float: left">
      <div {{action doCustomMapsList}} class="drawHandle" style="float: left">&lsaquo; {{t _go_back}}</div>
      <div style="float: left" id="customMapEditOptions"></div>
    </div>
  </div>
  <div id="flowMap"></div>
  <div id="pointDetails"></div>
</section>
