<section class="fullWidth" id="customMap">
  <div class="customMapsControls">
    <div style="width: 70%; float: left" id="customMapDetails"></div>
    <div style="width: 30%; float: left; position: relative">
      <div {{action doCustomMapsList}} class="drawHandle" style="float: left; position: static !important">&lsaquo; {{t _back_to_maps}}</div>
      <div style="position: absolute; right: 15px; bottom: 0" class="action" id="customMapEditOptions"></div>
    </div>
  </div>
  <div id="flowMap">
    <div id="customMapViewCanvas" class="flowMap"></div>
    <div id="customMapLegend" class="cartodb-legend">
      <h3 id="legendTitle"></h3>
      <h4 id="legendQuestion"></h4>
      <div id="legendOptions"></div>
    </div>
  </div>
  <div id="pointDetails">
    <p class="noDetails">{{t _no_details}}</p>
  </div>
  <div id="flowMapLegend">
    <h1>{{t _legend}}</h1>
  </div>
</section>
<script type="text/javascript">
(function(){

  var navTabs = document.querySelector('.tabNav');
  var mapInfo = document.querySelector('.customMapsControls');
  document.querySelector('#flowMap').style.marginTop = (mapInfo.offsetHeight - 2)+'px';
  document.querySelector('#pointDetails').style.marginTop = (mapInfo.offsetHeight - 2)+'px';
  var header = document.querySelector('header');
  var footer = document.querySelector('footer');

  function resizeMap() {

    if (!document.querySelector('#customMapViewCanvas')) {
      // If we can't find the map element, assume we have changed tabs and remove listener
      window.removeEventListener('resize', resizeMap);
      return;
    }

    var totalHeight = Math.max(document.documentElement.clientHeight, window.innerHeight || 0);
    var newHeight = totalHeight;

    newHeight -= navTabs.offsetHeight;
    newHeight -= mapInfo.offsetHeight;
    newHeight -= header.offsetHeight;
    newHeight -= footer.offsetHeight;
    newHeight = newHeight * 0.95;

    document.querySelector('#flowMap').style.height = newHeight + 'px';
    document.querySelector('#customMapViewCanvas').style.height = newHeight + 'px';
    document.querySelector('#pointDetails').style.height = newHeight + 'px';
  }

  window.addEventListener('resize', resizeMap);
  resizeMap();
})()
</script>
