<section class="fullWidth" id="customMapsList">
  <a class="newCustomMap">{{t _new_custom_map}}</a>
  <div id="mapsList">Custom maps list</div><br>
  <a data-custom-map="testEditCustomMap" class="editCustomMap">Edit map</a>
</section>
