<ul>
    {{#view view.NavItemView item="dataMap" }}
    <a {{action doDataMap}}>{{t _data_map}}</a>
    {{/view}}
    {{#view view.NavItemView item="customMapsList" }}
    <a {{action doCustomMaps}}>{{t _custom_maps}}</a>
    {{/view}}
</ul>
