<section class="floats-in middleSection" id="main" role="main">
    <div id="tabs">
        <nav class="tabNav floats-in">
            {{view FLOW.MapsSubnavView controllerBinding="controller.controllers.mapsSubnavController"}}
        </nav>
        {{outlet}}
    </div>
</section>
